* {
    margin: 0px;
    padding: 0px;
}

html{
    font-size:62.5%;  
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #920b38;
    background-image: url(../images/mosaico_textura.jpg);
    background-repeat: repeat;
}

.container {
    width: 100%; 
    height: 100vh;  
    position: absolute;
    display: flex;
    flex-direction: column;
  }

main{
    margin-top: 80px;
    margin-bottom: 50px;
}

@media screen and (max-width:1024px){
    main{
        margin-top: 100px;
        margin-bottom: 50px;
    }
} 

@media screen and (max-width:425px){
    main{
        margin-top: 130px;
        margin-bottom: 100px;
    }
} 
    


header{
    position: fixed;
    top: 0;
    background-color: #9f7b0b;
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 5px;
    justify-content: space-evenly;
    z-index: 1000;
}
.logo-qatar{
    width: 30px;
    margin-left: 10px;
}

.logo-fifa{
    width: 180px;
}

.contenedor_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor_logo_mas_texto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo_grande{
    margin: 0 10px;
    height: 20rem;
}

.foto_seleccion{
    margin: 20px;
    height: 600px;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.contenedor_texto_princial{
    padding: 5px 10px;
    max-width: 800px;
}
.parrafo_principal{
    color: #fdf7e4;
    font-size: 2rem;
    text-align: justify;
    padding: 5px 0px;
}


.menu{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

header h1{
    color: #fdf7e4;
    font-size: 4rem;
    margin-left: 10px;
    text-align: center;
}

h1 {
    color: #efb810;
    font-size: 3.2rem;
}

h2 {
    color: #efb810;
    font-size: 3rem;
}

h3 {
    color: #efb810;
    font-size: 2.5rem;
}

h4 {
    color: #efb810;
    font-size: 1.7rem;
}

.header-fondo-texto{
    background: url('../images/banner-bandera5.png');
    -webkit-background-clip: text;
    background-size: 36% 108%;
    -webkit-text-fill-color: transparent;
}
  
/* menu */
nav ul{
    list-style:none;
    margin:0;
    padding:0;
}
/* items del menu */
nav ul li{
    background-color: #9f7b0b;
}

/* enlaces del menu */
nav ul a{
    text-decoration: none;
    color: #fbefca;
    font-size: 2rem;
    margin: 0px 10px;
    font-weight: bold;  
    display: block;
}
/* items del menu */
nav ul li {
    position: relative;
    float:left;
    margin:0;
    padding:5px 0px;
    border-radius: 5px;
}
/* efecto al pasar el ratón por los items del menu */
nav ul li:hover {
    background:#6f5607;
}
/* menu desplegable */
nav ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}
/* items del menu desplegable */
nav ul ul li {
    float:none;
    width:130px
}
/* enlaces de los items del menu desplegable */
nav ul ul a {
    line-height:120%;
    padding:5px 10px;
}
/* items del menu desplegable al pasar el ratón */
nav ul li:hover > ul {
    display:block;
}

/*footer*/
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #9f7b0b;
    color: #fbefca;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.footer__copyright{
    font-size: 1.2rem;
}

.footer__nombre{
    font-size: 1.7rem;
    text-align: center;
    margin: 0 40px 0 40px;
}

.redes_sociales{
    padding-top: 5px;
    padding-right: 10px;
}

.redes_logos{
    width: 30px;
    margin-left: 10px;
}

legend,label{
    color: #fdf7e4;
}

label{
    font-size: 1.5em;
}

aside{
    position: absolute;
    bottom: 80px;
    right: 0;
    
}

.spotify{
  margin-right: 30px;
  padding-top: 15px;
}

/*fixture*/
#main_fixture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
.fixture{
    width: 90%;
    margin: 20px;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

/*start-nuestra_seleccion*/
#main_seleccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.contenedor_card_jugador{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card_jugador{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 10px;
    width: 270px;
    height: 480px;
    color: #fbefca;
    font-size: 1.3rem;
    align-items: center;
    border: solid 1px rgba(152, 152, 152, 0.224);
    border-radius:16px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(43, 39, 40, 0.224);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);

}

.img_jugador{
    width: 250px;
    border-radius: 12px;
    margin-bottom: 10px;
    border:  4px rgba(152, 152, 152, 0.109);
}

.logo_club{
    width: 23px;
    margin: 0px 5px 0 5px;
}

.contenedor_logo_texto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

/*end-nuestra_seleccion*/

/*start-pelota*/
#main_pelota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 10px;
}

#main_pelota p{
    width: 50%;
    color: #fbefca;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main_pelota h3{

    margin-top: 30px;
    padding-bottom: 10px;
}

#main_pelota ul li{
    width: 350px;
    color: #fbefca;
    font-size: 2rem;
    padding-top: 20px;
}

#main_pelota_detalles{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 20px;
}

#main_pelota_caracteristicas{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 20px;
}

#imagen_pelota{
    border-radius: 10px;
    margin-top: 20px;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

#imagen_messi_pelota{
    border-radius: 10px;
    width: 400px;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

#imagen_pelota_copa{
    border-radius: 10px;
    width: 350px;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

#video_pelota{
    width: 750px;
    height: 450px;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}
/*end-pelota*/

/*start-mascota*/
#main_mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 10px;
}

#main_mascota p{
    width: 50%;
    color: #fbefca;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

#la_eeb{
    width: 50%;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

#la_eeb2{
    width: 50%;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

#video_mascota{
    width: 750px;
    height: 450px;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

/*end-mascota*/

/*start-estadios*/
#main_estadios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: 200px;
    height: 378px;
    color: #fbefca;
    font-size: 1.3rem;
    align-items: center;
    border: solid 1px rgba(152, 152, 152, 0.224);
    background-color: rgba(43, 39, 40, 0.224);
    border-radius:10px 0px 0 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    padding: 0 20px;
}

.card h3{
    padding: 15px 0px 10px 0px;
    text-align: center;
}

.card h4{
    padding: 20px 0px 10px 0px;
}

.card p{
    padding: 0px 10px 0px 10px;
    text-align: justify;
}


.img_estadio{
    width: 700px;
    height: 378px;
    border-radius: 0px 10px 10px 0;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.card_mas_estadio{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.descripcion_estadio{
    width: 700px;
    height: 180px;
    color: #fbefca;
    font-size: 1.3rem;
    margin-top: 15px;
}

/*end-estadios*/

