/*------ start-estadios ------*/
#main_estadios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 10px;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: 230px;
    height: 378px;
    color: $colorTexto;
    font-size: 0.8rem;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.14);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
    border-radius:10px 0px 0 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    padding: 0 10px;
    transition: all 0.2s ease-in-out;
    @include breakpoint(mobile) {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        border-radius: 10px 10px 0px 0px;
        padding: 0;
        margin-top: 10px;
    }
    @include breakpoint(tablet) {
        width: 84%;
        height: auto;
        border-radius:10px 10px 0px 0px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    @include breakpoint(smallScreen) {
        width: 84%;
        height: auto;
        border-radius:10px 10px 0px 0px;
    }
    h3{
        padding: 10px 0px 5px 0px;
        text-align: center;
        font-size: 1.5rem;
        @include breakpoint(mobile) {
            padding-top: 10px;
        }
    }
    h4{
        padding: 20px 0px 10px 0px;
        @include breakpoint(mobile) {
            padding: 0px;
        }
    }
    p{
        padding: 0px 10px 0px 10px;
        text-align: left;
        @include breakpoint(mobile) {
            width: 100%;
        }
        @include breakpoint(tablet) {
            padding: 0px;
            width: 100%;
            height: auto;
            padding-left: 15px;
            padding-right: 15px;
        }
        @include breakpoint(smallScreen) {
            padding: 0px 10px 0px 10px;
            width: 100%;
        }
    }
    li{
        @include breakpoint(smallScreen) {
            display: inline;
            margin: 0px 10px 0px 10px;
        }
        @include breakpoint(tablet) {
            display: inline;
            margin: 0px;
        }
    }
    ul{
        @include breakpoint(tablet) {
            margin-bottom: 10px;
        }
    }
}

.img_estadio{
    width: 100%;
    height: 378px;
    border-radius: 0px 10px 10px 0;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    @include breakpoint(mobile) {
        height: 240px;
        border-radius: 0px 0px 10px 10px;
        margin-bottom: 15px;
    }
    @include breakpoint(tablet) {
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }
    @include breakpoint(smallScreen) {
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }
}

.card_mas_estadio{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    transition: all 0.2s ease-in-out;
    @include breakpoint(mobile) {
        width: 100%;
        flex-direction: column;
    }
}

.descripcion_estadio{
    width: 100%;
    height: auto;
    color: $colorTexto;
    font-size: 0.9rem;
    margin-top: 15px;
    margin-bottom: 4rem;
    text-align: left;
    @include breakpoint(mobile) {
        height: 100%;
        padding: 0px 10px 0px 10px;
        margin: auto;  
    }
}

/*end-estadios*/