header{
    grid-area: header;
    position: fixed;
    top: 0;
    background-color: $colorPrincipal;
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 5px;
    justify-content: space-evenly;
    z-index: 1000;
    h1{
        color: $colorTexto;
        font-size: 2rem;
        font-weight: bold;
        animation-name: carga-texto;
        animation-duration: 2s;
        margin-bottom: 0px;
		@include breakpoint(mobile) {
            font-size: 1.5rem;
            margin-left: 0px;
            text-align: center;
		}
    }
	@include breakpoint(mobile) {
		display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        grid-template-areas: "logos logos"
                             "navmenu titulo" 
	}
}

.grupo_logo{
	@include breakpoint(mobile) {
		grid-area: logos;
	}
}

.logo-qatar{
    width: 20px;
    margin-left: 10px;
    animation-name: animacionLogo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
	transition: all 0.2s ease-in-out;
}

.logo-fifa{
    width: 150px;
}

.menu{
    display: flex;
    align-items: center;
	@include breakpoint(mobile) {
		grid-area: navmenu;
	}
}

.header-fondo-texto{
    background: url('../images/banner-bandera5.png');
    -webkit-background-clip: text;
    background-size: 36% 108%;
    -webkit-text-fill-color: transparent;
    animation-name: carga-texto;
    animation-duration: 2s;
	transition: all 0.2s ease-in-out;
	@include breakpoint(mobile) {
		grid-area: titulo;
	}
}

/* menu */
.navbar {
	padding: 0px;
}
.nav-link {
	color: $colorTexto;
	font-size: 1.1rem;
	&:focus {
		color: $colorTexto;
		transition: 0.2s;
	}
	&:hover {
		color: $colorTexto;
		transition: 0.2s;
	}
}
.nav-item {
	&:hover {
		background: $colorSecundario;
		border-radius: 5px;
		text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.7);
	}
}
.nav-link.active {
	&:hover {
		color: $colorTexto;
	}
	font-weight: 600;
}
.dropdown-item {
	color: $colorTexto;
	padding: 7px 0px 7px 0px;
	width: auto;
	&:hover {
		background: $colorSecundario;
		color: $colorTexto;
	}
}
.dropdown-menu {
	li {
		&:hover {
			background: $colorSecundario;
			border-radius: 5px;
		}
	}
	background-color: $colorPrincipal;
	margin: 0px;
	padding: 5px 0px 5px 0px;
	min-width: 7rem;
}
nav {
	ul {
		li {
			background-color: $colorPrincipal;
		}
		a {
			text-decoration: none;
			color: $colorTexto;
			font-size: 1rem;
			margin: 0px 10px;
			font-weight: bold;
			display: block;
		}
	}
}