header{
    grid-area: header;
    position: fixed;
    top: 0;
    background-color: #9f7b0b;
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 5px;
    justify-content: space-evenly;
    z-index: 1000;
    h1{
        color: #fdf7e4;
        font-size: 2.4rem;
        font-weight: bold;
        animation-name: carga-texto;
        animation-duration: 2s;
        margin-bottom: 0px;
    }
}

.logo-qatar{
    width: 30px;
    margin-left: 10px;
    animation-name: animacionLogo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.logo-fifa{
    width: 180px;
}

.menu{
    display: flex;
    align-items: center;
}

.header-fondo-texto{
    background: url('../images/banner-bandera5.png');
    -webkit-background-clip: text;
    background-size: 36% 108%;
    -webkit-text-fill-color: transparent;
    animation-name: carga-texto;
    animation-duration: 2s;
}

/* menu */
.navbar {
	padding: 0px;
}
.nav-link {
	color: #fbefca;
	font-size: 1.1rem;
	&:focus {
		color: #fbefca;
		transition: 0.2s;
	}
	&:hover {
		color: #fbefca;
		transition: 0.2s;
	}
}
.nav-item {
	&:hover {
		background: #6f5607;
		border-radius: 5px;
	}
}
.nav-link.active {
	&:hover {
		color: #fbefca;
	}
}
.dropdown-item {
	color: #fbefca;
	padding: 7px 0px 7px 0px;
	width: auto;
	&:hover {
		background: #6f5607;
		color: #fbefca;
	}
}
.dropdown-menu {
	li {
		&:hover {
			background: #6f5607;
			border-radius: 5px;
		}
	}
	background-color: #9f7b0b;
	margin: 0px;
	padding: 5px 0px 5px 0px;
	min-width: 7rem;
}
nav {
	ul {
		li {
			background-color: #9f7b0b;
		}
		a {
			text-decoration: none;
			color: #fbefca;
			font-size: 1rem;
			margin: 0px 10px;
			font-weight: bold;
			display: block;
		}
	}
}