/*------ Start Index ------*/

.logo_grande{
    margin: 10px;
    height: 14rem;
    @include breakpoint(mobile) {
        height: 10rem;
    }
    transition: all 0.2s ease-in-out;
}

.carousel {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    @include breakpoint(mobile) {
        margin-top: 10px;
    }
    transition: all 0.2s ease-in-out;
}


.carousel-control-next-icon, .carousel-control-prev-icon{
    background-image: none;
    font-size: 2.5rem;
    color: $colorTexto;
}

.foto_seleccion{
    width: 100%;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}
.contenedor_texto_principal{
    padding: 5px 10px;
    @include breakpoint(mobile) {
        h1{
            font-size: 1.5rem;
        }
        h2{
            font-size: 1.2rem;
        }
        h3{
            font-size: 1.1rem;
        }
        h4{
            font-size: 1rem;
        }
        p{
            font-size: 0.9rem; 
        }
    }

}
.parrafo_principal{
    color: $colorTexto;
    font-size: 1.2rem;
    text-align: left;
    padding: 5px 0px;
    transition: all 0.2s ease-in-out;
}

.contenedor_spotify{
    grid-area: spotify;
    padding-top: 15px;
    width:100%; 
    height:80;  
    text-align: center;
    transition: all 0.2s ease-in-out;
}

#spotify{
    margin-top: 10px;
    height:80px;  
}

/*end index*/
