/*------ start-pelota ------*/



#main_pelota {
	p {
		color: $colorTexto;
		font-size: 1rem;
	}

	h2 {
		margin-top: 20px;
	}
	h3 {
		margin-top: 30px;
		padding-bottom: 10px;
	}
	ul {
		margin-bottom: 25px;
		padding: 10px;
		margin: 10px;
		li {
			width: 100%;
			color: $colorTexto;
			font-size: 1rem;
			padding-top: 15px;
		}
	}
	transition: all 1s ease-in-out;
}

#main_pelota_caracteristicas{
    margin: 20px;
    width: 100%;
}

#imagen_pelota{
    width: 100%;
    margin-top: 20px;
    border-radius:10px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
	
}

#imagen_messi_pelota{
	@extend #imagen_pelota;
}

#imagen_pelota_copa{
	@extend #imagen_pelota;
}

#video_pelota{
	@extend #imagen_pelota;
    margin: 10px;
    height: 35rem;
	@include breakpoint(mobile) {
		height: 20rem;
		margin:0;
	}
	@include breakpoint(tablet) {
		height: 28rem;
		margin:0;
	}
}
/*end-pelota*/