/*------ Netbook Styles ------*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
    main{
        margin-top: 110px;
    }
    /*------ start-index ------*/
    .foto_seleccion{
        width: 100%;
    }
    /*end--index*/

    /*------ start-mascota ------*/
    #video_mascota{
        width: 80%;
    }
    /*end-mascota*/
    
    /*------ start-estadios ------*/
    .card{
        width: 84%;
        height: 200px;
        border-radius:10px 10px 0 0px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        p{
            padding: 0px 10px 0px 10px;
            width: 100%;
        }
        li{
            display: inline;
            margin: 0px 10px 0px 10px;
        }
    }

    .img_estadio{
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }
    /*end-estadios*/
}
