/*Background*/
$colorPrincipal: #9f7b0b;
$colorSecundario: #6f5607;

/*Textos*/
$colorTitulos: #efb810;
$colorTextos: #fbefca;

/*Botones-Radios-Check*/
$colorBotonPrimario: #6f5607;
$colorBotonPrimarioHover:#9f7b0b;
$colorBotonPrimarioActivo: #efb810;
$colorBotonSecundario: #2f2f2f;
$colorBotonSecundarioHover:#696969;
$colorBotonSecundarioActivo: #9e9e9e;


